class Config {
    static const String appDevUrl = 'https://www.graceproducttz.com/api';
    static const String appProdUrl = 'https://www.graceproducttz.com/api';

    static const String appDevUrlNoRadix = 'www.graceproducttz.com/api';
    static const String appProdUrlNoRadix = 'www.graceproducttz.com/api';
}